nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 70px;
    width: 100%;
    background: #000;
    color: #fff;
    gap: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 22%;
    padding-left: 10px;
    /* background: #fff; */
}

.delivery {
    display: flex;
}

.delivery-svg svg {
    fill: #fff;
    position: relative;
    top: 15px;
}

.logo img {
    width: 130px;
}

.address {
    color: #999;
    font-size: 0.87rem;
}

.update-location {
    font-size: 0.9rem;
    font-weight: 560;
}

.nav-middle {
    display: flex;
    align-items: center;
    width: 60%;
}

.nav-middle > div {
    width: 100%;
    display: flex;
    height: 40px;
    /* align-items: center; */
}

.search-input { 
    width: 85%;
    padding-left: 20px;
}

.nav-right {
    width: 18%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.name > span {
    font-size: 0.78rem;
}

.account > span {
    font-size: 0.98rem;
    font-weight: 600;
}

.cart-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.basket > span {
    font-size: 0.98rem;
    font-weight: 600;
}

.basket {
    margin-top: 15px;
}

select {
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* width: auto; */
}

.search-btn {
    background: #FEBD69;
    border: none;
    width: 40px;
    /* height: 39px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* display: flex; */
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px 20px; */
    background: #232F3E;
    color: #fff;
    height: 40px;
}

.sub-nav-left {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.sub-nav-right {
    background: #146ACF;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sub-nav-right > span {
    font-size: 1.3rem;
    font-weight: 600;
}