nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 70px;
    width: 100%;
    background: var(--nav-bg);
    color: var(--nav-text);
    gap: 15px;
    position: sticky;
    top: 0;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 22%;
    padding-left: 10px;
    /* background: #fff; */
}

.delivery {
    display: flex;
}

.delivery-svg svg {
    fill: var(--nav-text);
    position: relative;
    top: 15px;
}

.logo img {
    width: 130px;
}

.address {
    color: var(--text-muted);
    font-size: 0.87rem;
}

.update-location {
    font-size: 0.9rem;
    font-weight: 560;
}

.nav-middle {
    display: flex;
    align-items: center;
    width: 60%;
}

.nav-middle > div {
    width: 100%;
    display: flex;
    height: 40px;
    /* align-items: center; */
}

.search-input { 
    width: 85%;
    padding-left: 20px;
    background: var(--search-bg);
    color: var(--search-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-right {
    width: 18%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.name > span {
    font-size: 0.78rem;
}

.account > span {
    font-size: 0.98rem;
    font-weight: 600;
}

.cart-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.basket > span {
    font-size: 0.98rem;
    font-weight: 600;
}

.basket {
    margin-top: 15px;
}

select {
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--search-bg);
    color: var(--search-text);
    /* width: auto; */
}

.search-btn {
    background: var(--button-bg);
    border: none;
    width: 40px;
    /* height: 39px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* display: flex; */
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--subnav-bg);
    color: var(--subnav-text);
    height: 40px;
    position: sticky;
    top: 70px;
}

.sub-nav-left {
    display: flex;
    gap: 10px;
    padding: 0 20px;
}

.sub-nav-right {
    background: var(--subnav-right-bg);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sub-nav-right > span {
    font-size: 1.3rem;
    font-weight: 600;
}

.header-links {
    text-decoration: none;
    color: var(--nav-text);
}

.border {
    padding: 3px;
}

.border:hover {
    border: 1px solid var(--nav-text);
}

.sub-nav-left > div:hover {
    border: 1.4px solid var(--nav-text);
}

.sub-nav-left > div {
    padding: 5px 10px;
}

.dark-light-mode {
    cursor: pointer;
    font-weight: 600;
}


/* responsive styles!! */

@media (max-width: 1847px) {
    .search-input {
        width: 100%;
    }

    .nav-middle > div {
        width: 90%;
    }

    .nav-left, .nav-right {
        width: 28%;
    }

}

@media (max-width: 1690px) {
    .nav-left {
        width: 32%;
    }

    .nav-middle > div {
        width: 80%;
    }
}

@media (max-width: 1541px) {
    .logo img {
        width: 100px;
    }

    .nav-left {
        width: 37%;
    }
}

@media (max-width: 1489px) {
    .nav-middle > div {
        width: 95%;
    }

    .nav-right {
        width: 36%;
    }

    .search-input {
        width: 90%;
    }
}

@media (max-width: 1427px) {
    .sub-nav-left > div > span {
        font-size: 0.9rem;
    }

    .sub-nav-right > span {
        font-size: 1rem;
    }
}

@media (max-width: 1359px) {
    .address {
        font-size: 0.7rem;
    }
}

@media (max-width: 1359px) {
    .sub-nav-left > div > span {
        font-size: 0.7rem;
        font-weight: 400;
    }
}

@media (max-width: 1241px) {
    .name > span {
        font-size: 0.7rem;
    }

    .account > span {
        font-size: 0.8rem;
    }

    .name > svg {
        width: 17px;
    }
}

@media (max-width: 1213px) {
    .logo img {
        width: 90px;
    }

    .nav-left {
        width: 40%;
    }
}

@media (max-width: 1119px) {
    .nav-middle > div {
        width: 90%;
    }

    .nav-left {
        width: 43%;
    }

    .nav-right {
        width: 39%;
    }

    .sub-nav-left > div {
        padding: 5px;
    }
}

@media (max-width: 1081px) {
    .address {
        font-size: 0.6rem;
    }

    .logo img {
        width: 80px;
    }
}

@media (max-width: 1079px) {
    .nav-right {
        width: 41%;
    }
}

@media (max-width: 1049px) {
    .delivery {
        display: none;
    }

    .nav-left {
        width: 20%;
    }

    .display-none {
        display: none;
    }
}

@media (max-width: 879px) {
    .orders {
        display: none;
    }
}

@media (max-width: 721px) {
    .nav-middle > div > select {
        width: 70px;
    }

    .search-input {
        padding-left: 5px;
    }
}

@media (max-width: 693px) {
    .deals {
        display: none;
    }
}

@media (max-width: 637px) {
    .sign-in-btn {
        display: none;
    }

    .nav-right {
        width: 20%;
    }
}

@media (max-width: 485px) {

    .basket > span {
        display: none;
    }

    .nav-left {
        width: 22%;
        margin-right: 10px;
    }

    .nav-right {
        width: 22%;
    }

    .nav-middle > div > select {
        width: 50px;
    }

    .sub-nav-right > span {
        font-size: 0.8rem;
    }
}

